* {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
}


/* HEADER */

.header-container {
    background-color:white;
    width: 100%;
    padding:5px 0px;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0px;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
}

.header-toggle {
    display:none;
}

.header-logo {
    background-image: url("../images/logo.png");
    background-repeat:no-repeat;
    background-size: 100px 40px;
    width:130px;
    height: 40px;
}

.header-logo h1 {
    display: none;
}

.header-navigation {
    flex-basis:65%;
    
}

.header-navigation ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header-social {
    flex-basis:15%;
}

.header-social ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* CONTENT */

.content-container {
    background-color: magenta;
    display: flex;
    justify-content: center;
    max-width: 960px;
    height: auto;
}

.content{
    flex-direction: row;
    background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
}

.content-toolbar {
 max-width:960px;
 height:55px;
 background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
 display:flex;
 justify-content:center;
 
    }
 /* search i items */
 .items{
     min-width:calc(50%-1%);
     margin-right:2%;
     margin-top:2%;
     background-color:white;
     flex-direction: row;
     display:flex;
     justify-content:center;
     align-items:center;
     
 }
 .items h1{
     margin-left:5%;
     font-size:20px;
     display:flex;
 }
 .search{
     margin-top:2%;
     min-width:calc(50%-1%);
     background-color:black;
     display:flex;
 }
 /* searchbar */
 
.Field {
  display: flex;
}

.SearchBox-query {
font-family: 'Raleway', sans-serif;
  flex: 1 0 9em;
  font-size:18px;
}

.SearchBox-submitBtn {
  width:20%;
  font-family: 'Raleway', sans-serif;
  font-size:18px;
}

.Field--is-search:before {
    font-family: 'Raleway', sans-serif;
  flex: 0 0 0.2em;

}

/* CONTENT main news i sub news */

.content-main{
    min-width:65%;
    max-width:98%;
    margin:1%;
    height:auto;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
}
.main{
    flex-wrap: wrap;
    height:auto;
    background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.main-news{
    display:flex;
    margin:1%;
    min-width:200px;
    max-width:930px;
    height:auto;
    flex-direction:column;
    background-color:white;
}
.main-news img{
    display:flex;
    width:100%;
    height:20%;
}
.main-news h1{
    margin:2%;
    display:flex;
   }
   .main-news p{
       font-size:18px;
       margin-left:2%;
       margin-bottom:2%;
       display:flex;
   }

.sub{
    flex-wrap: wrap;
    height:auto;
    background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.sub-news{
    display:flex;
    margin:1%;
    min-width:300px;
    max-width:45%;
    height:auto;
    flex-direction:column;
    background-color:white;
    
}
.sub-news img{
    display:flex;
    width:100%;
    height:20%;
}
.sub-news h1{
    margin:2%;
    display:flex;
   }
   .sub-news p{
       font-size:18px;
       margin-left:2%;
       margin-bottom:2%;
       display:flex;
   }
/*kalendarcic */
.main-calendar{
    min-width:15%;
    max-width:98%;
    margin:1%;
    height:auto;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:white;
}
.calendar-content-main{
    min-width:200px;
    max-width:30%;
    height:auto;
    display:flex;
    margin:5pt;
    background-color:black;
}



/* FOOTER */

.footer-container {
    background-color: black;
    display: flex;
    justify-content: center;
    width:100%;
}

.footer {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
}

.footer-item {
    flex-basis: calc(33.3333% - 10px);
    background-color: aqua;
}


/* MOBILE OVERRIDES */

@media (max-width: 500px){
    .footer {
        flex-direction: column;
    }
    .footer-item {
        flex-basis: 100%;
    }
    .content-toolbar{
        flex-direction:column;
        height:auto;
    }
    .items{
        max-width:100%;
        flex-basis:100%;
    }
    search{
        max-width:100%;
        flex-basis:100%;
    }
    
    /* DEACTIVATED */
     .header {
        flex-direction:row;
    }

    .header .header-toggle {
        display:flex;
        align-self:flex-start;
        background-image:url("../images/ham.png");
        background-repeat:no-repeat;
    background-size: 32px 32px;
        width:38px;
        height:38px;
    }

    .header .header-logo {
        display:flex;
    }

    .header .header-navigation ul {
        display:none;
    }

    .header .header-social ul {
        display:none;
    }
    
    /* ACTIVATED */
    .header.active {
        flex-direction:row;
    }

    .header.active .header-toggle {
        display:flex;
        align-self:flex-start;
        background-image:url("../images/ham.png");
        background-repeat:no-repeat;
    background-size: 32px 32px;
        width:38px;
        height:38px;
    }

.header.active .header-logo {
        display:none;
       
    }

    .header.active .header-navigation ul {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .header.active .header-social ul {
        display:none;
    }
    
}


