* {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 55px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
}


/* HEADER */

.header-container {
    background-color:white;
    width: 100%;
    padding:5px 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    top:0px;
}

.header {
    background-color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 960px;
}

.header-toggle {
    display:none;
}

.header-logo {
    background-image: url("../images/logo.png");
    background-repeat:no-repeat;
    background-size: 100px 40px;
    width:130px;
    height: 40px;
}
.header-facebook{
    background-image: url("../images/face.png");
    background-repeat:no-repeat;
    background-size: 30px 30px;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
    width:30px;
    height: 30px;
}
.header-twitter{
    background-image: url("../images/twit.jpg");
    background-repeat:no-repeat;
    background-size: 28px 28px;
    margin-top:3%;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:30px;
    height: 30px;
}
.header-social a {
    display: none;
    
}

.header-logo h1 {
    display: none;
}

.header-navigation {
    -webkit-flex-basis:65%;
        -ms-flex-preferred-size:65%;
            flex-basis:65%;
    
}

.header-navigation ul {
    list-style-type: none;
    text-decoration: none;
    color:black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}
.header-navigation ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    list-style-type: none;
    text-decoration: none;
    color:black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}
.header-social {
    -webkit-flex-basis:9%;
        -ms-flex-preferred-size:9%;
            flex-basis:9%;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
}

.header-social ul {
    list-style-type: none;
    text-decoration: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}
/* SVI LINKOVI */
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            grey;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  } 
/* CONTENT */

.content-container {
    background-color: magenta;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 960px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: auto;
}

.content{
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
}

.content-toolbar {
 max-width:960px;
 height:55px;
 background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-justify-content:center;
     -ms-flex-pack:center;
         justify-content:center;
 
    }
 /* search i items */
 .items{
     min-width:calc(50%-1%);
     margin-right:2%;
     margin-top:2%;
     background-color:white;
     -webkit-flex-direction: row;
         -ms-flex-direction: row;
             flex-direction: row;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
     -webkit-justify-content:center;
         -ms-flex-pack:center;
             justify-content:center;
     -webkit-align-items:center;
         -ms-flex-align:center;
             align-items:center;
     
 }
 .items h1{
     font-family: 'Open Sans', sans-serif;
    font-weight: 300;
     margin-left:5%;
     font-size:20px;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
 }
 .search{
     margin-top:2%;
     min-width:calc(50%-1%);
     background-color:black;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
 }
 /* searchbar */
 
.Field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.SearchBox-query {
font-family: 'Open Sans', sans-serif;
  -webkit-flex: 1 0 9em;
      -ms-flex: 1 0 9em;
          flex: 1 0 9em;
  font-size:18px;
}

.SearchBox-submitBtn {
  width:20%;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
}

.Field--is-search:before {
    font-family: 'Open Sans', sans-serif;
  -webkit-flex: 0 0 0.2em;
      -ms-flex: 0 0 0.2em;
          flex: 0 0 0.2em;

}

/* CONTENT main news i sub news */

.content-main{
    min-width:65%;
    max-width:98%;
    margin:1%;
    height:auto;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-justify-content:flex-start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color:white;
}
.main{
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height:auto;
    background-color:white;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.main-news{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin:1%;
    min-width:200px;
    max-width:930px;
    height:auto;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    background-color:white;
}
.main-news img{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    height:20%;
}
.main-news h1{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin:2%;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   }
   .main-news p{
       font-size:18px;
       margin-left:2%;
       margin-bottom:2%;
       display:-webkit-flex;
       display:-ms-flexbox;
       display:flex;
   }

.sub{
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height:auto;
    background-color:white;
    border-top:10px solid lightgray;
    border-bottom:10px solid lightgray;
    
    display:-webkit-flex;
    
    display:-ms-flexbox;
    
    display:flex;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.sub-news{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin:1%;
    min-width:300px;
    max-width:45%;
    height:auto;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    background-color:white;
    
}
.sub-news img{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    height:20%;
}
.sub-news h1{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin:2%;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   }
   .sub-news p{
       font-size:18px;
       margin-left:2%;
       margin-bottom:2%;
       display:-webkit-flex;
       display:-ms-flexbox;
       display:flex;
   }
/*kalendarcic */
.main-calendar{
    min-width:15%;
    max-width:100%;
    height:auto;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: url("../images/pattern/shattered.png");
    background-repeat: repeat;  
}

.main-calendar h2{
    font-family: 'Playfair Display', serif;
    margin-left:20px;
    font-weight: 300;
    font-size:19px;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        
}
.main-calendar p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left:10%;
    font-weight: 300;
    font-size:14px;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    
}

.calendar-content-main{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    min-width:200px;
    border-left:10px solid darkorange;
    max-width:30%;
    min-height:100px;
    height:auto;
    margin:5pt;
    background-color:white;
}
.calendar-content-main-art{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width:200px;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border-left:10px solid purple;
    max-width:30%;
    min-height:100px;
    height:auto;
    margin:5pt;
    background-color:white;
}
.calendar-content-main-rest{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width:200px;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border-left:10px solid green;
    max-width:30%;
    min-height:100px;
    height:auto;
    margin:5pt;
    background-color:white;
}


/* FOOTER */

.footer-container {
    background-color: black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width:100%;
}

.footer {
    background-color: blue;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 960px;
}

.footer-item {
    -webkit-flex-basis: calc(33.3333% - 10px);
        -ms-flex-preferred-size: calc(33.3333% - 10px);
            flex-basis: calc(33.3333% - 10px);
    background-color: aqua;
}


/* MOBILE OVERRIDES */

@media (max-width: 500px){
    .footer {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-item {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
    }
    .content-toolbar{
        -webkit-flex-direction:column;
            -ms-flex-direction:column;
                flex-direction:column;
        height:auto;
    }
    .items{
        max-width:100%;
        -webkit-flex-basis:100%;
            -ms-flex-preferred-size:100%;
                flex-basis:100%;
    }
    search{
        max-width:100%;
        -webkit-flex-basis:100%;
            -ms-flex-preferred-size:100%;
                flex-basis:100%;
    }
    
    /* DEACTIVATED */
     .header {
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
    }

    .header .header-toggle {
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-align-self:flex-start;
            -ms-flex-item-align:start;
                align-self:flex-start;
        background-image:url("../images/ham.png");
        background-repeat:no-repeat;
    background-size: 32px 32px;
        width:38px;
        height:38px;
    }

    .header .header-logo {
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
    }

    .header .header-navigation ul {
        display:none;
    }

    .header .header-social ul {
        display:none;
    }
    
    /* ACTIVATED */
    .header.active {
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
    }

    .header.active .header-toggle {
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-align-self:flex-start;
            -ms-flex-item-align:start;
                align-self:flex-start;
        background-image:url("../images/ham.png");
        background-repeat:no-repeat;
    background-size: 32px 32px;
        width:38px;
        height:38px;
    }

.header.active .header-logo {
        display:none;
       
    }

    .header.active .header-navigation ul {
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        
    }

    .header.active .header-social ul {
        display:none;
    }
    
}


